.Weather {
  display: block;
  margin: 20px auto;
  color: #4e4e4e;
  width: 700px;
  border: 1px solid rgb(185, 152, 89);
  border-radius: 4px;
  background-color: #dbe2ff;
  padding: 20px 35px;
  margin-bottom: 5px;
}

form {
  margin-bottom: 5px;
}
button {
  background-color: #727b9b;
  transition: all 200ms ease-in-out;
}
button:hover {
  opacity: 0.8;
  cursor: pointer;
}
h2 {
  margin-top: 20px;
}
h1 {
  margin-top: 15px;
  padding-left: 30px;
  font-weight: 900;
}
.search {
  border: 1px solid #727b9b;
}
.today {
  font-size: 70px;
}

.day {
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid rgb(185, 152, 89);
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}
.day canvas {
  display: block;
  margin: 0 auto;
  padding: 0;
}
.day:hover {
  background-color: #dcedfc;
}

.degree {
  font-size: 30px;
  position: relative;
  bottom: 27px;
}
.active {
  text-decoration: none;
}
#search-city:hover {
  border: 1px solid white;
}
#fahrenheit,
#сelsius {
  color: #4e4e4e;
}

#git-link {
  text-decoration: none;
}
#icon {
  padding-left: 30px;
}
#description {
  text-transform: capitalize;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .Weather {
    width: 100%;
    margin: 30px auto;
  }
  h1,
  h2 {
    padding: 0;
    margin: 15px 0;
  }
}
@media (max-width: 541px) {
  .Weather {
    width: 100%;
    padding: 30px;
    text-align: center;
    margin: 30px auto;
  }
  h1,
  h2 {
    padding: 0;
    margin: 15px 0;
  }
  button,
  input {
    width: 80%;
    margin-top: 10px;
  }
  #icon {
    display: block;
    margin: 0 auto;
    padding: 0 0 0 17px;
  }
}
